body {background-color: aquamarine;
margin: 0%;
padding: 0;}



header{background-color:rgb(44, 42, 165);
display: flex;
justify-content: space-around;}

.imagem{width: 15%;}

.imagem-section{width:15%;}