body {background-color: aquamarine;
    margin: 0%;
    padding: 0;}
    
    
    
    header{background-color:rgb(44, 42, 165);
    display: flex;
    justify-content: space-around;}
    
    .imagem{width: 15%;}

    .escola{ display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;}
    
    .imagem-section{width:30%;}

    .escola-conteudo{width: 30%;}